.benefit-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-icon {
    width: 5rem; /* 80px */
    height: 5rem;
    margin-bottom: 3rem;
    fill: var(--color-accent);
}

.benefit-caption {
    max-width: 12rem;
    text-align: center;
}