.prices-table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.prices-table caption {
    margin-bottom: 24px;
    text-align: left;
}

.prices-table td,
.prices-table th {
    padding: 8px 16px;
    border: 1px solid var(--color-primary);
    text-align: left;
}

.prices-table thead,
.prices-table tfoot {
    background-color: rgba(255, 255, 255, 0.1);
}