.social-list {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    margin-left: -10px;
}

.social-link {
    padding: 0.5rem;
}

.social-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary);
}

.social-link:hover .social-icon {
    fill: var(--color-accent);
}