:root {
    --color-primary: #fff;
    --color-accent: #d4c17f;
    --color-warning: #ff6c6c;

    --color-background-primary: #242b33;
    --color-background-secondary: #2d343c;

    --font-family-primary: 'Raleway', sans-serif;
    --font-family-title: 'Playfair Display', serif;

    --input-color-text: #fff;
    --input-color-background: #565b60;
    --input-color-placeholder: #bebebe;
}

// $color-primary: #fff;
// $color-accent: #d4c17f;
// $color-warning: #ff6c6c;

// $colors: (
//     'primary': #fff,
//     'accent': #d4c17f,
//     'warning': #ff6c6c,
// );

// .box {
//     color: map-get($colors, 'primary');
// }